body {
    background-color: rgb(181, 195, 195)
}
.notepad {
    background-color: white;
    display: block;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}
.todos-title {
    text-align: center;
}
.input-notes {
    border: none;
    width: 760px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer {
    margin-bottom: 0%;
}
.element {
    border-top: 1px solid lightblue;
    vertical-align: middle;
}